{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        },
        "debug": true
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/transform-modules-commonjs",
    "@babel/proposal-object-rest-spread"
  ]
}
